<%= form_for(@service) do |f| %>
    <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

          <ul>
            <% @service.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, required: '' %>
    </div>
    <% if @service.new_record? %>
        <div class="field">
          <%= f.label :price, 'Price(£)' %><br>
          <%= f.text_field :price, type: :number, step: 0.01, required: '' %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :category_id, 'Category' %><br>
      <%= f.select :category_id, options_from_collection_for_select(Category.non_system, 'id', 'name') %>
    </div>
    <%= f.hidden_field :active, value: true %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
