<h3>Editing <%= @service.name %></h3>

<%= render 'form' %>

<%= link_to services_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Services
<% end %>
