<h3>Editing <%= @service.name %></h3>

<%= form_for @service, url: update_price_path, method: :post do |f| %>
    <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

          <ul>
            <% @service.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><b>Category: </b><%= @service.category.name %></p>
    <p><b>Current price: </b><%= to_gbp @service.price %></p>
    <div class="field">
      <%= f.label :price, 'New Price(£): ' %>
      <%= f.text_field :price, type: :number, step: 0.01, size: 6, required: '' %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to services_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Services
<% end %>
