<br />
<%= link_to new_service_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Service
<% end %>
<%= link_to categories_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-folder-open"></span>
    Service categories
<% end %>
<br />

<h1>Listing services</h1>

<table class="table table-striped system-services" border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @editable_system_services.each do |system_service| %>
      <tr>
        <td><strong><%= system_service.name %></strong></td>
        <td><%= to_gbp system_service.price %></td>
        <td><%= link_to edit_price_path(system_service), class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-gbp"></span>
              Change price
          <% end %></td>
      </tr>
  <% end %>

  </tbody>
</table>

<table class="table table-striped non-system-services" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= to_gbp(service.price) %></td>
        <td><%= link_to service.category.name, service.category %></td>
        <td><%= link_to edit_service_path(service), class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit details
        <% end %></td>
        <td><%= link_to edit_price_path(service), class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-gbp"></span>
              Change price
        <% end %></td>
        <td>
          <% if service.deletable? %>
              <%= link_to service, method: :delete, data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger active', role: 'button' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  Delete
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

