<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= to_gbp(@service.price) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category.name %>
</p>

<% unless @service.system? %>
    <%= link_to 'Edit', edit_service_path(@service) %> |
<% end %>
<%= link_to 'Edit price', edit_price_path(@service) %> |
<%= link_to 'Back', services_path %>
