<% trip_item = f.object %>
<li class="ui-state-default">
  <%= f.hidden_field :sequence, class: 'sequence-field', value: trip_item.sequence %>
  <div class="sortable-number"><%= trip_item.sequence %></div>
  <span class="trip-item-display">
    <span data-value="<%= trip_item.address.geocode %>" class="geocode"></span>
    <span data-value="<%= trip_item.address.customer.nickname %>" class="nickname"></span>

    <%= link_to trip_item.address.customer.nickname, trip_item.address.customer, class: 'customer-link' %> -
    <span class="visit-at">[loading...]</span>,
    <span class="collection-or-delivery"><%= trip_item.collection_or_delivery(bk) %></span>,
    <span class="post-code"><%= trip_item.address.post_code %></span><%= trip_item.visit_constraints[0]&.display(leading_comma: true) %><%= trailing_text(trip_item.notes) %>
    <span id="edit">
      <% if next_trip.id != trip_item.trip_id %>
        <%= link_to trip_move_item_path(trip_item.id, next_trip.id), method: :patch do %>
            <span class="glyphicon glyphicon-arrow-down"></span>
            Move to next vehicle
        <% end %>
      <% end %>
      &nbsp;
      <%= link_to edit_booking_path(bk) do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
      <% end %>
    </span>
  </span>
  <span hidden="hidden" class="trip-item-address-id"><%= trip_item.address.id %></span>
</li>