<% if @gathering_error.present? %>
  <h2 class="error-text">Error while gathering distances - some parts of the application might not work. Reason: '<%= @gathering_error %>'</h2>
<% end %>

<h1>Routes for <%= @trips.first.date %></h1>

<br />
<%= link_to create_trip_path(@trips.first.date),
            method: :post,
            class: 'btn btn-default btn-lg active',
            role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add Vehicle
<% end %>
<br /><br />

<label for="datepicker" class="control-label">Go to date</label>
<div><input type="text" class="date-picker form-control" id="datepicker" /></div>
<span id="default-start-time"
      data-value="<%= Trip.default_start_time.to_string_localtime(@trips.first.date) %>">
</span>
<span id="default-sched-deadline"
      data-value="<%= Trip.default_sched_deadline.to_string_localtime(@trips.first.date) %>">
</span>
<span id="vehicle-count"
      data-value="<%= @trips.length.to_s %>">
</span>
<% @trips.each_with_index do |trip, trip_idx| %>
    <% trip_items = trip.trip_items.map(&:decorate) %>
    <% bookings = trip.bookings %>
    <% base_address = trip_items.first.address %>
    <br />
    <% if !base_address.active %>
      <h3 class="inactive_base_address_info"><i>Origin: <%= base_address.display %></i></h3>
      <%= link_to update_active_base_path(trip.id), method: :patch, class: 'btn btn-default active', role: 'button' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Update to current active address (irreversible!)
      <% end %>
      <br />
      <br />
    <% end %>
    <%= simple_form_for trip, url: update_trip_path, method: :patch, namespace: trip_idx.to_s do |f| %>
        <%= f.hidden_field :id %>
        <% if trip.sched_deadline_passed %>
          <label>Schedule deadline was:</label>
          <h5 style="padding-left: 12px; margin-top: 5px;"><%= trip.sched_deadline.to_fs(:time) %></h5>
        <% else %>
          <%= f.input :sched_deadline, label: 'Schedule deadline', as: :string,
                      input_html: { value: trip.sched_deadline.to_string_localtime(trip.date) } %>
        <% end %>
        <%= f.input :start_time, as: :string, input_html: { value: trip.start_time.to_string_localtime(trip.date) } %>
        <%= f.association :driver_account, collection: @trip_drivers[trip_idx], label_method: :full_name,
                          label: trip.had_no_driver? ? 'Driver account (unassigned currently)' : 'Driver account' %>
        <ul id="<%= trip_idx %>-trip-sortable" class="trip-list">
          <%= f.fields_for :trip_items, trip_items.drop(1) do |ti|%>
              <%= render partial: 'trip_item_fields',
                         locals: { f: ti,
                                   bk: bookings[ti.index],
                                   next_trip: @trips.to_a.rotate[trip_idx] } %>
          <% end %>
        </ul>
        <h4>Returning at: <span id="<%= trip_idx %>-return-time">[loading...]</span></h4>
        <%= f.input :completed %>
        <%= glyphicon_submit(f) %>
        <%= f.button :button, 'Optimize (exactly)', class: 'resize-vertical-glyphicon',
                     name: 'optimize_exactly', value: 'true', id: 'optimize-exactly' %>
        <%= f.button :button, 'Optimize (approximately)', class: 'resize-vertical-glyphicon',
                     name: 'optimize_approximately', value: 'true' %>
        <%= f.button :button, 'Reverse order', class: 'repeat-glyphicon',
                     name: 'reverse_order' %>
    <% end %>
    <br />

    <% if @notifiable[trip_idx].include?(true) && !trip.completed %>
      <button type="button" class="btn active" onclick="openNotificationModal(<%= trip_idx %>)">
        <span class="glyphicon glyphicon-phone"></span>
        Send notifications
      </button>
    <% end %>
    <a href="#" id="bing-maps-url-<%= trip_idx %>" class="btn btn-info active">
      <span class="glyphicon glyphicon-globe"></span>
      At Bing Maps
    </a>
    <%= link_to printable_trip_path(trip), class: 'btn btn-info active' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        For print
    <% end %>
    <%= link_to trip_status_path(trip), class: 'btn btn-info active' do %>
        <span class="glyphicon glyphicon-list"></span>
        Status
    <% end %>
    <%= link_to wipe_distances_path(trip), method: :delete, class: 'btn btn-danger active',
                data: { confirm: 'Re-gathering the distances might take a while. Are you sure?' } do %>
        <span class="glyphicon glyphicon-remove"></span>
        Wipe address distances
    <% end %>
    <% if trip_idx > 0 and trip.deletable? %>
        <%= link_to trip_path(trip), method: :delete,
                    class: 'btn btn-danger active',
                    data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
            Delete vehicle
        <% end %>
    <% end %>
    <br /><br />

    <div id="<%= trip_idx %>-map-canvas" class="map-canvas"></div>
    <% trip.driver_locations.each do |dl| %>
        <%= tag 'a', data: { lat: dl.lat, lng: dl.long,
                             created: dl.created_at.strftime('%T') },
                class: "driver-location-#{trip_idx}" %>
    <% end %>

    <% trip_items.map(&:map_marker_display_data).each do |lat, lng, sequence, nickname| %>
        <%= tag 'a', class: "address-#{trip_idx}",
                data: { lat: lat, lng: lng, sequence: sequence,  nickname: nickname } %>
    <% end %>

    <% @trip_address_distances[trip_idx].each do |ad| %>
        <a data-from="<%= ad.from_address_id %>"
           data-to="<%= ad.to_address_id %>"
           data-dist="<%= ad.distance_seconds %>"
           class="address-distance-<%= trip_idx %>">
        </a>
    <% end %>

    <a    data-value="<%= trip_items.first.address.id %>"      id="<%= trip_idx %>-base-id"></a>
    <span data-value="<%= trip_items.first.address.geocode %>" id="<%= trip_idx %>-base-geocode"></span>

  <div class="modal fade" id="notificationModal-<%= trip_idx %>" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Send notifications for collection/delivery times</h5>
        </div>
        <div class="modal-body">
          <% trip.trip_items.drop(1).each_with_index do |trip_item, i| %>
            <div class="trip-item-display ui-state-default" style="font-size: 18px; padding-left: 3px; padding-bottom: 5px;">
              <% if @notifiable[trip_idx][i] %>
                <input type="checkbox" value="<%= trip_item.id %>" name="notify-<%= trip.id %>" class="notify-for-<%= trip.id %>" checked="checked">
              <% end %>
              <span><%= trip_item.sequence %>:</span>
              <%= link_to trip_item.address.customer.nickname, trip_item.address.customer, class: 'customer-link' %> -
              <%= @visit_times[trip_idx][i].to_fs(:time) %>,
              <%= trip_item.collection_or_delivery(bookings[i]) %>,
              <%= trip_item.address.post_code %><%= trip_item.visit_constraints[0]&.display(leading_comma: true) %><%= trailing_text(trip_item.notes) %>
            </div>
          <% end %>
        </div>
        <div style="padding-left: 8px;">
          <p>Customers will automatically receive a notification at the schedule deadline.</p>
          <p>If the trip has changed after the deadline then it can be useful to send another notification to inform affected customers</p>
        </div>
        <button type="button" class="btn btn-secondary" onclick="deselectAll(<%= trip.id %>)">Deselect all</button>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="submitNotificationModal(<%= trip.id %>)">Send</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
