<% if @gathering_error.present? %>
  <h2 class="error-text">Error while gathering distances - some parts of the application might not work. Reason: '<%= @gathering_error %>'</h2>
<% end %>

<h3>Route for <%= @trip.date.to_s %></h3>

<div>
<% @trip_items.to_a.zip(@visit_times).each_with_index do |(ti, visit_time), i| %>
    <p>
      <% booking = @bookings[i] %>
      <%=
      (i + 1).to_s  + '. ' +
      ti.address.customer.nickname + ' - ' +
      visit_time.to_string_localtime(@trip.date) + ', ' +
      ti.collection_or_delivery(booking) + ti.bag_hangers_str(booking) + ', ' +
      ti.address.display +
          trailing_text(to_gbp(booking.ironing.total_cost), ti.collection_or_delivery(booking) == 'delivery') +
          trailing_text(ti.notes)
      %>
    </p>
<% end %>
</div>

<p><b>Total cost: </b><%= to_gbp @trip.total_cost(@bookings) %></p>

<%= link_to printable_trip_path(@trip.after(-1)), class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-calendar"></span>
    Previous day
<% end %>
<%= link_to printable_trip_path(@trip.after(1)), class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-calendar"></span>
    <span class="glyphicon glyphicon-arrow-right"></span>
    Next day
<% end %>

<br /><br />
<%= link_to trips_path(date: @trip.date), class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-road"></span>
    Back to trip
<% end %>
