<% if @gathering_error.present? %>
  <h2 class="error-text">Error while gathering distances - some parts of the application might not work. Reason: '<%= @gathering_error %>'</h2>
<% end %>

<h3>Status for <%= @trip.date.to_s %></h3>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Visit time</th>
    <th>Type</th>
    <th>Address</th>
    <th>Cost</th>
    <th>Paid</th>
    <th>State</th>
  </tr>
  </thead>

  <tbody>
  <% @trip_items.to_a.zip(@visit_times).each_with_index do |(ti, visit_time), i| %>
    <% booking = @bookings[i] %>
    <tr>
      <td><%= (i + 1) %></td>
      <td><%= ti.address.customer.nickname %></td>
      <td><%= visit_time.to_string_localtime(@trip.date) %></td>
      <td><%= ti.collection_or_delivery(booking) %></td>
      <td><%= ti.address.display %></td>
      <td><%= to_gbp(booking.ironing.total_cost) %></td>
      <td><%= number_to_currency(ti.paid / 100.0, unit: '£') if ti.paid %></td>
      <td <% if ti.state == 'missed' %> style='color: red;' <% elsif ti.state == 'completed' %> style='color: green;' <% end %> ><%= ti.state %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to trip_status_path(@trip.after(-1)), class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-calendar"></span>
    Previous day
<% end %>
<%= link_to trip_status_path(@trip.after(1)), class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-calendar"></span>
    <span class="glyphicon glyphicon-arrow-right"></span>
    Next day
<% end %>

<br /><br />
<%= link_to trips_path(date: @trip.date), class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-road"></span>
    Back to trip
<% end %>
