<h3>Decrease debt for <%= @customer.nickname %> (currently owed: <%= to_gbp @customer.money_owed %>)</h3>

<form action="<%= decrease_debt_path(@customer) %>", method="post">
  <%= token_tag %>
  <div>
    <%= label_tag 'amount', '* Amount (£)' %><br />
    <%= number_field_tag 'amount', 0, step: 0.01, class: 'numeric float required form-control', required: '' %>
  </div>
  <br />

  <div>
    <%= button_tag 'Submit', class: 'btn btn-default create-glyphicon' %>
  </div>
</form>
<br />
<%= link_to customer_debts_index_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Customer debts
<% end %>
