<br />
<%= link_to customer_debts_increase_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add debt
<% end %>
<br />

<h2>Listing customers</h2>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Nickname</th>
    <th>Debt</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td class="nickname"><%= customer.nickname %></td>
        <td><%= to_gbp customer.money_owed %></td>
        <td>
          <%= link_to customer_debts_decrease_path(customer),
                      class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-minus"></span>
              Decrease
          <% end %>
        </td>
        <td>
          <%= link_to decrease_debt_path(customer, amount: customer.money_owed), method: :post,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-ok"></span>
              Remove
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to customers_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Customers
<% end %>
