<h2>Sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :username, autofocus: true %>
  <%= f.input :password, autocomplete: "off" %>
  <%= f.button :button, class: 'btn btn-primary btn-lg' do %>
    Sign in
  <% end %>
<% end %>
