<%= simple_form_for(@staff) do |f| %>
    <% if @staff.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

          <ul>
            <% @staff.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username, required: '' %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, placeholder: @password_placeholder %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, required: '' %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number %>
    </div>
    <%= f.input :active, input_html: { checked: (@staff.new_record? or @staff.active) } %>
    <div class="actions">
      <%= glyphicon_submit(f) %>
    </div>
<% end %>
