<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Day</th>
    <th>Hours</th>
    <th>Amount</th>
  </tr>
  </thead>

  <tbody>
  <% (0...(wages.size)).each do |i| %>
      <tr>
        <td><%= (date + i).strftime("%F, %A") %></td>
        <td><%= minutes_int_to_s minutes[i] %></td>
        <td><%= to_gbp wages[i] %></td>
      </tr>
  <% end %>

  <tr>
    <td>Total</td>
    <td><%= minutes_int_to_s minutes.sum %></td>
    <td><%= to_gbp wages.sum %></td>
  </tr>
  </tbody>
</table>