<h1>Appoint <%= params['role'] %></h1>
<%= form_for @staff, url: '/staff/appoint' do |f| %>
    <% if @staff.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

          <ul>
            <% @staff.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><%= f.label :staff_id, 'Staff' %></p>
    <p><%= f.select :staff_id, options_from_collection_for_select(@all_staff, 'id', 'full_name') %></p>
    <div class="field">
      <%= f.label :pay_rate, 'Pay rate (£)' %><br>
      <%= f.text_field :pay_rate, size: 10, type: :number, step: 0.01, required: '' %>
    </div>
    <div class="actions">
      <%= f.button :button, class: 'create-glyphicon btn btn-default' do %>
          Appoint
      <% end %>
    </div>
<% end %>

<%= link_to staff_index_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Staff
<% end %>