<br />

<%= simple_form_for(@acc, url: update_wage_path, method: :post) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :pay_rate, label: 'Wage (£)' %>
    </div>

    <div class="form-actions">
      <%= glyphicon_submit(f) %>
    </div>
<% end %>

<br />

<%= link_to staff_index_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Staff
<% end %>