<br />
<%= link_to new_staff_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Staff Member
<% end %>
<br />

<h1>Listing staff</h1>

<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Active</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @staff.each do |staff| %>
      <tr>
        <td><%= staff.username %></td>
        <td><%= staff.first_name %></td>
        <td><%= staff.last_name %></td>
        <td><%= staff.email %></td>
        <td><%= staff.phone_number %></td>
        <td><%= yes_no staff.active %></td>
        <td><%= link_to edit_staff_path(staff), class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to appoint_index_path('ironer'), class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Appoint Ironer
<% end %>
<br />

<h2>Listing ironers</h2>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Pay rate (per hour)</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @ironers.each do |ironer| %>
      <tr>
        <td><%= ironer.staff.full_name %></td>
        <td><%= to_gbp(ironer.pay_rate) %></td>
        <td><%= link_to ironer_weekly_wage_path(ironer, date: DateTime.now.to_date.beginning_of_week),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Show weekly earnings
        <% end %></td>
        <td><%= link_to edit_wage_path(ironer, 'Ironer'),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-gbp"></span>
              Change wage
        <% end %></td>
        <td><%= link_to toggle_active_account_path(ironer, 'Ironer'),
                        method: :patch, class: 'btn btn-default active', role: 'button' do %>
              <% if ironer.active %>
                  <span class="glyphicon glyphicon-remove-sign"></span>
                  Set to Inactive
              <% else %>
                  <span class="glyphicon glyphicon-play"></span>
                  Set to Active
              <% end %>
        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to appoint_index_path('driver'), class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Appoint Driver
<% end %>
<br />

<h2>Listing drivers</h2>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Pay rate (per day)</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.staff.full_name %></td>
        <td><%= to_gbp(driver.pay_rate) %></td>
        <td><%= link_to edit_wage_path(driver, 'Driver'),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-gbp"></span>
              Change wage
        <% end %></td>
        <td><%= link_to toggle_active_account_path(driver, 'Driver'),
                        method: :patch, class: 'btn btn-default active', role: 'button' do %>
              <% if driver.active %>
                  <span class="glyphicon glyphicon-remove-sign"></span>
                  Set to Inactive
              <% else %>
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  Set to Active
              <% end %>
        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
