<h3>Weekly wage for <%= @ironer_account.staff.full_name %> at <%= @date %></h3>

<%= render partial: 'ironer_wage', locals: {
    date: @date, minutes: @minutes, wages: @wages
} %>

<div>
  <%= link_to ironer_weekly_wage_path(@ironer_account, date: @date - 1.week),
              class: 'btn btn-default active', role: 'button' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      <span class="glyphicon glyphicon-list-alt"></span>
      Previous week
  <% end %>
  <script>window.ironer_account_id = <%= @ironer_account.id %>;</script>
  <input id="go-to-week" type="text" placeholder="Go to week" />
  <%= link_to ironer_weekly_wage_path(@ironer_account, date: @date + 1.week),
              class: 'btn btn-default active', role: 'button' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <span class="glyphicon glyphicon-arrow-right"></span>
      Next week
  <% end %>
</div>

<div>
  <% if @prev_ironer_account %>
    <%= link_to ironer_weekly_wage_path(@prev_ironer_account, date: @date),
                class: 'btn btn-default active', role: 'button' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="glyphicon glyphicon-gbp"></span>
        Previous salary
    <% end %>
  <% end -%>
  <% if @next_ironer_account %>
    <%= link_to ironer_weekly_wage_path(@next_ironer_account, date: @date),
                class: 'btn btn-default active', role: 'button' do %>
        <span class="glyphicon glyphicon-gbp"></span>
        <span class="glyphicon glyphicon-arrow-right"></span>
        Next salary
    <% end %>
  <% end -%>
</div>

<br />
<%= link_to staff_index_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-briefcase"></span>
    Back to Staff
<% end %>