<h1>
  <%= from %>
  <%= 'to ' + to.to_s if from != to %>
</h1>
<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
  </tr>
  </thead>

  <tbody>
  <% breakdown.select{|_, amount| amount != 0}.each do |name, amount| %>
      <tr>
        <td><%= name %></td>
        <td><%= to_gbp amount %></td>
      </tr>
  <% end %>

  <tr>
    <td><b>Total</b></td>
    <td><b><%= to_gbp breakdown.values.sum %></b></td>
  </tr>
  </tbody>
</table>