<h3>Number of bookings statistic</h3>
<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Number of bookings</th>
    <th>Total revenue</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Nickname</th>
    <th>Payment scheme</th>
    <th>Discount</th>
    <th colspan="1">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.bookings.size %></td>
        <td><%= to_gbp customer.bookings.map{|b| b.ironing.total_cost}.sum %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td class="nickname"><%= customer.nickname %></td>
        <td><%= customer.payment_scheme.humanize %></td>
        <td><%= customer.discount %>%</td>
        <td><%= link_to edit_customer_path(customer), class: 'btn btn-default active', role: 'button' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to statistics_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Statistics
<% end %>