<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<h1>Profit at end of each period</h1>
<%= line_chart @expenses_growth %>
<h1>Accumulated profit over time</h1>
<%= line_chart @expenses_sum %>

<%= render 'profit_breakdown', breakdown: @total_breakdown,
           from: @date_period.to_a.first - @period + 1, to: @date_period.to_a.last %>

<% @date_period.each do |date| %>
    <%= render 'profit_breakdown', breakdown: @date_breakdown[date],
               from: date - @period + 1, to: date %>
<% end %>

<%= link_to statistics_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Statistics
<% end %>