<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<h1>New bookings over time</h1>
<%= line_chart @booking_growth %>
<h1>New customers over time</h1>
<%= line_chart @customer_growth %>

<h1>Total bookings over time</h1>
<%= line_chart @booking_count %>
<h1>Total customers over time</h1>
<%= line_chart @customer_count %>

<%= link_to statistics_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Statistics
<% end %>