<br />
<fieldset class="bordered">
  <form action="<%= statistics_general_path %>" method="get">
    <div class="field">
      <%= label_tag :period, 'Period duration (days)' %><br />
      <%= text_field_tag :period, '7' %>
      <br />
      <%= label_tag :start_date, 'Start date (leave blank to show from start)' %><br />
      <%= text_field_tag :start_date %>
      <br /><br />
      <%= button_tag name: nil, type: 'submit', class: 'btn btn-info active' do %>
          <span class="glyphicon glyphicon-globe"></span>
          General Statistics
      <% end %>
    </div>
  </form>
</fieldset>

<fieldset class="bordered">
  <form action="<%= statistics_finance_path %>" method="get">
    <div class="field">
      <%= label_tag :filter %><br />
      <%= select_tag :filter, options_for_select(@filters) %>
      <br />
      <%= label_tag :period, 'Period duration (days)' %><br />
      <%= text_field_tag :period, '7', id: 'finance_period' %>
      <br />
      <%= label_tag :start_date, 'Start date (leave blank to show from start)' %><br />
      <%= text_field_tag :start_date, '', id: 'finance_start_date' %>
      <br /><br />
      <%= button_tag name: nil, type: 'submit', class: 'btn btn-info active' do %>
          <span class="glyphicon glyphicon-gbp"></span>
          Finance Statistics
      <% end %>
    </div>
  </form>
</fieldset>

<fieldset class="bordered">
  <%= link_to statistics_customers_path, class: 'btn btn-info active', role: 'button' do %>
      <span class="glyphicon glyphicon-user"></span>
      Customer Statistics
  <% end %>
</fieldset>