<%= simple_form_for(@expense_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= glyphicon_submit(f) %>
  </div>
<% end %>
