<br />
<%= link_to new_expense_type_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Expense type
<% end %>
<br />

<h1>Listing Expense Types</h1>

<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_types.each do |expense_type| %>
      <tr>
        <td><%= expense_type.name %></td>
        <td><%= link_to edit_expense_type_path(expense_type),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Rename
        <% end %></td>
        <td>
          <% if expense_type.deletable? %>
              <%= link_to expense_type, method: :delete,
                          class: 'btn btn-danger active', role: 'button',
                          data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  Delete
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to expenses_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Expenses
<% end %>
