<h1>New Expense Type</h1>

<%= render 'form' %>

<br />
<%= link_to expense_types_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Expense Types
<% end %>
