<% unless @unseen_notifications.empty? %>
  <h3>Unseen notifications</h3>

  <table class="table table-striped" border="1">
    <thead>
    <tr>
      <th>Text</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody>
    <% @unseen_notifications.each do |notification| %>
        <tr>
          <td><%= notification.text %></td>
          <td><%= notification.created_at %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end -%>

<h3>Seen notifications</h3>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Text</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% @seen_notifications.each do |notification| %>
      <tr>
        <td><%= notification.text %></td>
        <td><%= notification.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @seen_notifications %>
</div>
