<%= f.input :address_id, collection: @addresses, label_method: :display,
            include_blank: false %>
<%= f.input :trip_date, label: 'Date', required: true %>

<%= f.fields_for :visit_constraints do |c| %>
    <%= render partial: 'visit_constraint_fields',
               locals: { f: c, date: f.object&.trip_date&.to_date } %>
<% end %>

<%= f.input :notes, placeholder: 'Information for the driver' %>
