<div class="nested-fields">
  <%= f.input :visit_after,  as: :string, input_html: { value: f.object&.visit_after&.to_string_localtime(date) } %>
  <%= f.input :visit_before, as: :string, input_html: { value: f.object&.visit_before&.to_string_localtime(date) } %>
</div>