<h3>Book delivery for <%= link_to @booking.customer.nickname, @booking.customer %></h3>
<%= simple_form_for @delivery_trip_item, url: new_delivery_path, method: :post do |f| %>
    <% if @delivery_trip_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@delivery_trip_item.errors.count, 'error') %> prohibited this service from being saved:</h2>

          <ul>
            <% @delivery_trip_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= render partial: 'trip_item_fields', locals: { f: f } %>
    </div>
    <br />
    <div class="actions">
      <%= f.button :button do %>
          <span class="glyphicon glyphicon-floppy-disk"></span>
          Book delivery
      <% end %>
    </div>
  <% if @request&.delivery_dates&.present? %>
    <span id="requestedDeliveryDates" data-value="<%= @request.delivery_dates.to_json %>"></span>
  <% end -%>
<% end %>

<%= link_to bookings_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Bookings
<% end %>
