<h3>Editing booking for <%= link_to @booking.customer.nickname, @booking.customer %></h3>
<%= simple_form_for @booking, url: booking_path(@booking), method: :patch do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@booking.errors.count, 'error') %> prohibited this service from being saved:</h2>

          <ul>
            <% @booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="bordered">
      <legend class="trip-item-edit">Collection</legend>
      <%= f.fields_for :collection_trip_item do |fc| %>
          <%= fc.input :id, as: :hidden %>
          <%= render partial: 'trip_item_fields', locals: { f: fc } %>
      <% end %>
    </fieldset>

    <fieldset class="bordered">
      <legend class="trip-item-edit">Delivery</legend>
      <% if @booking.delivery_trip_item.present? %>
          <%= f.fields_for :delivery_trip_item do |fd|%>
              <%= fd.input :id, as: :hidden %>
              <%= render partial: 'trip_item_fields', locals: { f: fd } %>
          <% end %>
      <% else %>
          <h2>Not booked yet</h2>
      <% end %>
    </fieldset>
    <%= f.label :discount, 'Discount (%)' %><br/>
    <%= f.text_field :discount, type: :number, step: :any, required: '' %><br/>

    <br />
    <%= f.button :button do %>
        <span class="glyphicon glyphicon-floppy-saved"></span>
        Update booking
    <% end %>
  <% if @request&.dates&.present? %>
    <span id="requestedDates" data-value="<%= @request.dates.to_json %>"></span>
  <% end -%>
  <% if @request&.delivery_dates&.present? %>
    <span id="requestedDeliveryDates" data-value="<%= @request.delivery_dates.to_json %>"></span>
  <% end -%>
<% end %>

<br />
<%= link_to bookings_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-calendar"></span>
    Back to Bookings
<% end %>
<br />
<%= link_to trips_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-road"></span>
    Back to Trips
<% end %>
