<% if action_name == 'index' %>
    <br />
    <%= link_to new_booking_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Booking
    <% end %>
    <%= link_to past_bookings_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-folder-open"></span>
        Past bookings
    <% end %>
    <br />

    <h3>Outstanding Bookings</h3>
<% elsif action_name == 'past' %>
    <h3>Past Bookings</h3>
    <form action="<%= past_bookings_path %>" method="get">
      <div class="field">
        <%= text_field_tag :from_date, nil, placeholder: 'From' %>
        <%= text_field_tag :to_date, nil, placeholder: 'To' %>
        <%= button_tag name: nil, type: 'submit', class: 'btn btn-default active' do %>
            <span class="glyphicon glyphicon-search"></span>
            &nbsp
            Search
        <% end %>
      </div>
    </form>
<% end %>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Collection</th>
    <th>Ironed?</th>
    <th>Delivery</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.customer.nickname, booking.customer %></td>
        <td><%= link_to booking.collection_trip_item.trip.date.to_s,
                        trips_path(date: booking.collection_trip_item.trip.date.to_s) %></td>
        <td>
          <% if booking.ironed? %>
              <%= link_to 'Yes', edit_ironing_path(booking.ironing) %>
          <% else %>
              <%= link_to 'No', new_ironing_path(booking.ironing) %>
          <% end %>
        </td>
        <td>
          <% if booking.delivery_trip_item.nil? %>
              <%= link_to bookings_delivery_path(booking),
                          class: 'btn btn-default active', role: 'button' do %>
                  <span class="glyphicon glyphicon-plus"></span>
                  Book delivery
              <% end %>
          <% else %>
              <%= link_to booking.delivery_trip_item.trip.date.to_s,
                          trips_path(date: booking.delivery_trip_item.trip.date.to_s) %>
          <% end %>
        </td>
        <td><%= link_to edit_booking_path(booking),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
          <% end %></td>

        <td>
          <% unless booking.ironed? %>
              <%= link_to booking, method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger active', role: 'button' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  Delete
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if action_name == 'past' %>
    <div class="digg_pagination">
      <%= will_paginate @bookings %>
    </div>
    <%= link_to bookings_path, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Bookings
    <% end %>
<% end %>
<br />
