<h3>Book new collection</h3>
<%= simple_form_for @booking do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@booking.errors.count, 'error') %> prohibited this service from being saved:</h2>

          <ul>
            <% @booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :customer_id, collection: @customers, label_method: :nickname,
                required: true, input_html: { onchange: raw('customerSelected(this.value)') } %>

    <%= f.fields_for :collection_trip_item do |ti|%>
        <%= render partial: 'trip_item_fields', locals: { f: ti } %>
    <% end %>
    <div>
      <%= f.label :discount, 'Discount (%)' %><br/>
      <%= f.text_field :discount, type: :number, step: :any, required: '' %><br/>
    </div>

    <br />
    <div class="actions">
      <%= glyphicon_submit(f) %>
    </div>
  <% if @request %>
    <span id="requestedDates" data-value="<%= @request.dates.to_json %>"></span>
    <%= hidden_field_tag('request_id', @request.id) %>
  <% end -%>
<% end %>

<%= link_to bookings_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Bookings
<% end %>

<% @customers.each do |customer| %>
    <span class="customer-data"
          data-customer-id="<%= customer.id %>"
          data-address-ids="<%= customer.addresses.where(active: true).pluck(:id) %>"
          data-discount="<%= customer.discount %>">
    </span>
<% end %>
<% if @selected %>
    <script>window.customerID = "<%= @selected %>";</script>
<% end %>

