<br />

<%= link_to customers_path, class: 'btn btn-default btn-lg active' do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Back to Customers
<% end %>
<% if params[:show_past] == 'Yes' %>
  <%= link_to customer_registrations_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-folder-open"></span>
    Pending registrations
  <% end %>
  <h3>Activated registrations from customers</h3>
  <p>Note: below are the details which the customer entered in their registration form.</p>
  <p>They might differ from the record we have for that customer.</p>
<% else -%>
  <%= link_to customer_registrations_path(show_past: 'Yes'), class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-folder-open"></span>
    Activated registrations
  <% end %>
  <h3>Pending registrations from customers</h3>
<% end -%>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Mobile phone</th>
    <th>Home phone</th>
    <th>Email</th>
    <th>Payment scheme</th>
    <th>Address</th>
    <th>Post code</th>
    <th>Collection date(s)</th>
    <th>Delivery date(s)</th>
    <th>Additional requirements</th>
    <th <% if params[:show_past] != 'Yes' %> colspan=2 <% end %>>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @customer_registrations.each do |reg| %>
    <tr>
      <td><%= reg.first_name %></td>
      <td><%= reg.last_name %></td>
      <td><%= reg.phone_mobile %></td>
      <td><%= reg.phone_home %></td>
      <td><%= reg.email %></td>
      <td><%= reg.payment_scheme %></td>
      <td><%= reg.address %></td>
      <td><%= reg.post_code %></td>
      <td><%= reg.collection_dates&.join(" | ") %></td>
      <td><%= reg.delivery_dates&.join(" | ") %></td>
      <td><%= reg.request_requirements %></td>
      <% if params[:show_past] == 'Yes' %>
        <td><%= link_to edit_customer_path(reg.customer), class: 'btn btn-default btn-sm active', role: 'button' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Edit customer
          <% end %></td>
      <% else %>
        <td><%= link_to new_customer_path(registration_id: reg.id), class: 'btn btn-success btn-sm active', role: 'button' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Complete
          <% end %></td>
        <td>
          <button type="button" class="btn btn-danger btn-sm active" onclick="openRejectModal(<%= reg.to_json %>)">
            <span class="glyphicon glyphicon-remove"></span>
            Reject
          </button>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% if params[:show_past] == 'Yes' %>
  <div class="digg_pagination">
    <%= will_paginate @customer_registrations %>
  </div>
<% end -%>

<div class="modal fade" id="rejectRegistrationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"></h5>
      </div>
      <div class="modal-body">
        <h4>What is the reason for rejecting this registration?</h4>
        <form id="reject-registration" method="POST">
          <input type="hidden" name="_method" value="delete">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div>
            <input type="radio" value="yes" name="contact_customer" id="do-contact-customer" checked="checked">
            <label class="collection_radio_buttons" for="do-contact-customer">Send <span class="email-or-text-label">[email | text]</span></label>
          </div>
          <div>
            <input type="radio" value="no" name="contact_customer" id="do-not-contact-customer">
            <label class="collection_radio_buttons" for="do-not-contact-customer">Don't send <span class="email-or-text-label">[email | text]</span>, they already know</label>
          </div>
          <textarea class="form-control text" name="rejection_reason" id="rejection-reason">We are sorry, your registration was rejected because your address is not in an area we serve.</textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="submitRejectForm()">Confirm</button>
      </div>
    </div>
  </div>
</div>
