<h3>Settings</h3>

<div id="active-addresses-div">
  <h4>Active base addresses</h4>

  <table class="table table-striped" border="1">
    <thead>
    <tr>
      <th>Address name</th>
      <th>Post code</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @addresses.select(&:active).each do |address| %>
        <tr>
          <td><%= address.address_name %></td>
          <td><%= address.post_code %></td>
          <td><%= address.notes %></td>
          <td><%= link_to edit_active_address_path(address.customer_id), class: 'btn btn-default btn-sm active', role: 'button' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Change active address
          <% end %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <p>New base address (not implemented)</p>
</div>

<div id="active-addresses-div">
  <h4>Inactive base addresses</h4>

  <table class="table table-striped" border="1">
    <thead>
    <tr>
      <th>Address name</th>
      <th>Post code</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @addresses.select { |addr| !addr.active } .each do |address| %>
        <tr>
          <td><%= address.address_name %></td>
          <td><%= address.post_code %></td>
          <td><%= address.notes %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>