<%= simple_form_for @customer, html: { class: 'customer_form' } do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
            <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :nickname %>
    <%= f.input :email %>
    <%= f.input :phone_home, type: :tel %>
    <%= f.input :phone_mobile, type: :tel %>
    <div>
      <label class="float required control-label"><abbr title="required">*</abbr> Payment scheme</label><br/>
      <%= f.collection_radio_buttons :payment_scheme, [[:flat_rate, 'Flat rate'], [:itemized, 'Itemized']],
                                     :first, :last, {}, required: '' %>
    </div>
    <%= f.input :discount, label: 'Discount (%)', required: '', input_html: {value: (@customer.discount.try(:prettify) || 0)} %>
    <%= f.input :notes, as: :text %>
    <%= f.input :active, label: 'Customer active', input_html: { checked: (@customer.new_record? or @customer.active) } %>
    <%= f.fields_for :addresses do |a|%>
        <%= render 'addresses/fields', f: a  %>
    <% end %>
  <% if params[:registration_id].present? %>
    <%= f.hidden_field :registration_id, value: @registration.id %>
    <% if @registration.can_automatically_book? %>
      <h4>
        Booking requested: collection on <%= @registration.collection_dates.first %>,
        delivery on <%= @registration.delivery_dates.first %>
      </h4>
      <%= radio_button_tag :auto_book, :yes, true, required: true %>
      <%= label :auto_book, :yes, 'Book automatically' %>
      <br />
      <%= radio_button_tag :auto_book, :no, false, required: true %>
      <%= label :auto_book, :no, 'Handle manually' %>
      <br />
    <% end %>
  <% end %>
    <%= glyphicon_submit(f) %>
<% end %>
<%= content_for('Back buttons') %>
<br />
<span id="base-geocode" data-value="<%= @base_address.geocode %>"></span>
<div id="address-map"></div>
