<h2>Editing customer</h2>

<% content_for('Back buttons') do %>
    <br />
    <%= link_to customers_path, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Customers
    <% end %>
    <br />
    <%= link_to @customer, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-th-list"></span>
        Show
    <% end %>
    <br />
<% end %>

<%= render 'form' %>
