<% if action_name == 'index' %>
    <br />
    <%= link_to new_customer_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Customer
    <% end %>
    <%= link_to customer_debts_index_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-gbp"></span>
        Customer debts
    <% end %>
    <%= link_to customer_registrations_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
      <span class="glyphicon glyphicon-user" <% unless @pending_registrations_count == 0 %> style="color: red;" <% end %>></span>
      Pending registrations <span class="badge"><%= @pending_registrations_count %></span>
    <% end %>
    <%= link_to inactive_customers_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-folder-open"></span>
        Inactive customers
    <% end %>
    <br />
<% end %>

<h2>Listing customers</h2>

<form action="<%= request.path %>" method="get">
  <div class="field">
    <%= search_field_tag :search %>
    <%= button_tag name: nil, type: 'submit', class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-search"></span>
        &nbsp
        Search
    <% end %>
  </div>
</form>

<table class="table table-striped" border="1" data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
  <thead>
    <tr>
      <th data-tablesaw-priority="2">First name</th>
      <th data-tablesaw-priority="2">Last name</th>
      <th data-tablesaw-priority="1">Nickname</th>
      <th data-tablesaw-priority="4">Email</th>
      <th data-tablesaw-priority="3">Phone home</th>
      <th data-tablesaw-priority="3">Phone mobile</th>
      <th data-tablesaw-priority="4">Scheme</th>
      <th data-tablesaw-priority="5">Discount</th>
      <th data-tablesaw-priority="6">Notes</th>
      <th data-tablesaw-priority="6">Addresses</th>
      <th data-tablesaw-priority="1" colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td class="nickname"><%= customer.nickname %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone_home %></td>
        <td><%= customer.phone_mobile %></td>
        <td><%= customer.payment_scheme.humanize %></td>
        <td><%= customer.discount %>%</td>
        <td><%= customer.notes %></td>
        <td class="addresses"><%= display_addresses(customer) %></td>
        <td><%= link_to add_address_path(customer.id), class: 'btn btn-default btn-sm active', role: 'button' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Add address
        <% end %></td>
        <td><%= link_to edit_customer_path(customer), class: 'btn btn-default btn-sm active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
        <% end %></td>
        <td>
          <% if customer.deletable? %>
              <%= link_to customer, method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger btn-sm active', role: 'button' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  Delete
              <% end %>
          <% end %>
        </td>
        <% if customer.phone_home.present? or customer.phone_mobile.present? %>
          <td>
            <%= link_to create_code_path(customer), method: :post,
                        data: { confirm: 'Any existing code will be deleted. Generate a new code?' },
                        class: 'btn btn-default btn-sm active', role: 'button' do %>
                <span class="glyphicon glyphicon-phone"></span>
                Create code
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<% @addresses.each do |adr| %>
    <span class="addresses-data"
          data-geocode="<%= adr.geocode %>"
          data-nickname="<%= adr.customer.nickname %>">
    </span>
<% end %>

<% if action_name == 'inactive' %>
    <br />
    <%= link_to customers_path, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Customers
    <% end %>
<% end %>

<%= form_tag update_customers_per_page_path, method: 'patch' do %>
    Currently showing <b><%= current_staff.customers_per_page %></b> entries per page.
    <div class="field">
      <%= number_field_tag :customers_per_page, current_staff.customers_per_page %>
      <%= button_tag name: nil, type: 'submit', class: 'btn btn-default btn-sm active' do %>
          <span class="glyphicon glyphicon-floppy-disk"></span>
          &nbsp
          Change
      <% end %>
    </div>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @customers %>
</div>

<span id="base-geocode" data-value="<%= @base_address.geocode %>"></span>
<div id="map-canvas"></div>
<br />
