<h1>New customer</h1>

<% content_for('Back buttons') do %>
    <br />
    <%= link_to customers_path, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Customers
    <% end %>
    <br />
<% end %>

<%= render 'form' %>

