<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @customer.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone home:</strong>
  <%= @customer.phone_home %>
</p>

<p>
  <strong>Phone mobile:</strong>
  <%= @customer.phone_mobile %>
</p>

<p>
  <strong>Payment scheme:</strong>
  <%= @customer.payment_scheme.humanize %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @customer.discount %>%
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer.notes %>
</p>

<% if !@customer.active %>
    <p>
      <strong>Active:</strong> false
    </p>
<% end %>

<% @customer.addresses.each_with_index do |address, i| %>
    <% ord = if (@customer.addresses.size > 1) then (i + 1).ordinalize else '' end %>
    <p>
    <p>
      <strong><%= ord %> Address name:</strong>
      <%= address.address_name %>
    </p>

    <p>
      <strong><%= ord %> Post code:</strong>
      <%= address.post_code %>
    </p>

    <p>
      <strong><%= ord %> Address notes:</strong>
      <%= address.notes %>
    </p>
    <% if !address.active %>
        <p>
          <strong><%= ord %> Address active:</strong> false
        </p>
    <% end %>
    </p>
<% end %>


<%= link_to 'New request', new_booking_path(customer: @customer.nickname) %> |
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
