<% if @booking_avl_insufficient %>
  <p style="color:red;">
    Please try to provide booking availability for the next 7 days (until <%= Date.today + 6 %>). <br />
    Otherwise some of your customers might make a Request instead of a Booking.
  </p>
<% end -%>
<%= link_to requests_path, class: 'btn btn-default active' do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  <span class="glyphicon glyphicon-calendar"></span>
  Back to Requests
<% end %>
<br />
<%= link_to add_availability_path(date: (params[:date]&.to_date || Date.today) - 14), class: 'btn btn-default active' do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Previous
<% end %>
<%= link_to add_availability_path(date: (params[:date]&.to_date || Date.today) + 14), class: 'btn btn-default active' do %>
  Next
  <span class="glyphicon glyphicon-arrow-right"></span>
<% end %>
<br />

<%= simple_form_for(:booking_availabilities, url: booking_availabilities_path, method: :put) do |form| %>
  <table class="table table-striped" style="width: 10%; margin-bottom: 0;">
  <thead>
    <tr>
      <th>Date</th>
      <th>Yes</th>
      <th>No</th>
      <th>Unknown</th>
      <th>Trip items</th>
      <th>Requests</th>
    </tr>
    </thead>
    <tbody>
      <% @booking_avl.each_with_index do |avl, idx| %>
        <%= form.fields_for "booking_availability[#{idx}]", avl do |f| %>
          <tr>
            <td><%= avl.date %></td>
            <td><%= f.radio_button :available, true %></td>
            <td><%= f.radio_button :available, false %></td>
            <td><%= f.radio_button :available, '' %></td>
            <td><%= @trip_item_counts[idx] %></td>
            <td><%= @request_counts[idx] %></td>
          </tr>
          <%= f.hidden_field :date %>
        <% end %>
      <% end -%>
    </tbody>
  </table>
  <div class="form-actions">
    <%= form.button :button, class: "create-glyphicon" %>
  </div>
<% end %>
