<br />

<% if params[:show_past] == 'Yes' %>
  <%= link_to requests_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-folder-open"></span>
    Current requests
  <% end %>
  <h3>Inactive requests from customers</h3>
<% else -%>
  <%= link_to add_availability_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-calendar" <% if @booking_avl_insufficient %> style="color: red;" <% end %>></span>
    Update weekly availability
  <% end %>
  <%= link_to requests_path(show_past: 'Yes'), class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-folder-open"></span>
    Inactive requests
  <% end %>
  <h3>Pending requests from customers</h3>
<% end -%>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Dates</th>
    <th>Delivery dates</th>
    <th>Additional requirements</th>
    <th>Date created</th>
    <% if params[:show_past] == 'Yes' %>
      <th>Booking</th>
      <th colspan=1></th>
    <% else %>
      <th colspan=2></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.address.customer.nickname, request.address.customer %></td>
        <td><%= request.dates.join(" | ") %></td>
        <td><%= request.delivery_dates&.join(" | ") %></td>
        <td><%= request.additional_requirements %></td>
        <td><%= request.created_at.in_time_zone("GB").to_fs(:db) %></td>
        <% if params[:show_past] == 'Yes' && request.booking %>
          <td><%= link_to request.booking.collection_trip_item.trip.date.to_s, edit_booking_path(request.booking) %></td>
        <% else %>
          <td><%= link_to new_booking_path(request_id: request.id),
                          class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Create booking
            <% end %>
          </td>
        <% end %>
        <td><%= link_to toggle_active_request_path(request.id), method: :put,
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-arrow-right"></span>
              Set to <%= params[:show_past] == 'Yes' ? 'active' : 'inactive' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if params[:show_past] == 'Yes' %>
  <div class="digg_pagination">
    <%= will_paginate @requests %>
  </div>
<% end -%>
