<div class="nested-fields">
  <%= f.input :service_id, as: :grouped_select, collection: categories,
              group_method: :last, required: true, input_html: { class: 'service-select' } %>
  <%= f.input :count, html: { step: :any }, required: true %>
  <% unless @ironer_mode %>
  <%= f.input :discount, label: 'Discount (%)', input_html:
      { step: :any, value: (f.object.discount || f.object.ironing.booking.discount || 0) } %>
  <% end %>
  <% if f.object.new_record? %>
      <%= link_to_remove_association 'X', f, class: 'btn btn-default active', role: 'button' %>
  <% else %>
      <%= f.input :_destroy, as: :boolean, label: 'Delete' %>
  <% end %>
</div>