<%= simple_form_for @ironing, url: ironing_index_path, method: :post do |f| %>
    <% if @ironing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ironing.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @ironing.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :id, value: params['id'] %>
    <%= f.fields_for :ironing_tasks, @ironing_tasks do |task_form| %>
        <%= render partial: 'ironing_task_fields',
                   locals: { f: task_form, ironer_accounts: @ironer_accounts, x_button: false }  %>
    <% end %>
    <div id="extra-ironing-tasks">
      <%= link_to_add_association '+', f, :ironing_tasks,
                                  render_options: {
                                      locals: {
                                          ironer_accounts: @ironer_accounts,
                                          x_button: true
                                      }
                                  },
                                  class: 'btn btn-default active', role: 'button' %>
    </div>
    <br />
    <%= f.input :bag_count, input_html: { step: 1 }, required: true %>
    <%= f.input :has_hangers %>

    <% if !@ironing.ironed? %>
        <%= f.input :date_ironed, as: :hidden, input_html: { value: Date.today } %>
    <% elsif !@ironer_mode %>
        <%= f.input :date_ironed, as: :string %>
    <% end %>

    <% if @ironer_mode %>
        <%= hidden_field_tag 'minimum_charge', @minimum_charge_checked %>
    <% else %>
        <div class="checkbox">
          <label for="minimum_charge">
            <%= check_box_tag 'minimum_charge', 1, @minimum_charge_checked %>
            Apply minimum charge
          </label>
        </div>
    <% end %>

    <script>window.paymentScheme = "<%= @ironing.booking.payment_scheme %>";</script>

    <% unless @ironer_mode and @ironing.booking.flat_rate? %>
    <div id="existing-booking-services">
      <%= f.fields_for :booking_services, @ironing_items do |bs| %>
          <% if bs.object.service_id == Service.ironing_per_hour.id %>
              <div class="nested-fields">
                <%= bs.input :service_id, as: :hidden %>
                <b>Service </b><br />
                <h4>Ironing per hour</h4>
                <p><b><abbr title="required">*</abbr> Time ironed (hours:minutes)</b></p>
                <%= bs.input :count,
                             as: :hidden,
                             input_html: { class: 'ironing_per_hour_float' },
                             required: true %>
                <div class="form-group float required booking_booking_services_count">
                  <input id="ironing_per_hour_field" class="string required form-control"
                         required="required" type="text"
                         value="<%= hours_float_to_s(bs.object.count) %>" />
                </div>
                <%= bs.input :discount,
                             label: 'Discount (%)',
                             input_html: {
                                 step: :any,
                                 value: (bs.object.discount ||
                                         bs.object.ironing.booking.discount ||
                                         0)
                             }
                %>
              </div>
          <% elsif bs.object.service_id == Service.minimum_charge.id %>
              <div class="nested-fields">
                <b>Service </b><br />
                <h4>Minimum charge fee</h4>
                <b>Cost </b><br />
                <h4><%= to_gbp(bs.object.total_cost) %></h4>
              </div>
          <% else %>
              <%= render partial: 'booking_service_fields',
                         locals: { f: bs, categories: @ironing.categories(@ironer_mode) }  %>
          <% end %>
      <% end %>
    </div>
    <div id="extra-booking-services">
      <%= link_to_add_association '+', f, :booking_services,
                                  render_options: {
                                      locals: {
                                          categories: @ironing.categories(@ironer_mode)
                                      }
                                  },
                                  class: 'btn btn-default active', role: 'button' %>
    </div>
    <% end %>

    <div class="actions">
      <br />
      <%= f.button :button do %>
          <% if @ironing.ironed? %>
              <span class="glyphicon glyphicon-floppy-saved"></span>
          <% else %>
              <span class="glyphicon glyphicon-floppy-disk"></span>
          <% end %>
          Submit ironing
      <% end %>
    </div>
<% end %>

<%= link_to ironing_index_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Ironing
<% end %>