<div class="nested-fields">
  <%= f.input :ironer_account_id, collection: ironer_accounts,
                      label_method: :full_name, required: true %>
  <%= f.input :minutes_ironed, as: :string,
                      input_html: { value: minutes_int_to_s(f.object.minutes_ironed),
                                    class: 'ironing_task_time_ironed' },
                      label: 'Time ironed (hours:minutes)', required: true %>
  <% if !f.object.new_record? %>
      <%= f.input :_destroy, as: :boolean, label: 'Delete' %>
  <% elsif x_button %>
      <%= link_to_remove_association 'X', f, class: 'btn btn-default active', role: 'button' %>
  <% end %>
</div>