<% if action_name == 'index' %>

<% unless @ironer_mode %>
    <%= link_to past_ironing_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-folder-open"></span>
        Past ironing
    <% end %>
<% end %>
<br />
<h2>Ready for ironing</h2>

<table id="orders-table" class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Customer</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @ready_for_ironing.each do |ironing| %>
      <tr>
        <td><%= link_to ironing.booking.customer.nickname,
                        ironing.booking.customer %></td>
        <td><%= link_to new_ironing_path(ironing),
                        class: 'btn btn-default btn-lg active', role: 'button' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Add information
        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% unless @ironer_mode %>
<h2>Need extra information</h2>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Ironer</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @needing_extra_input.each do |ironing| %>
      <tr>
        <td><%= link_to ironing.booking.customer.nickname, ironing.booking.customer %></td>
        <td><%= safe_join(ironing.ironing_tasks.map(&:ironer_account).map do |ironer|
            link_to ironer.full_name, ironer.staff
          end, ', ')
        %></td>
        <td><%= link_to edit_ironing_path(ironing),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Add extra information
        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<h2>Ironed</h2>

<% elsif action_name == 'past' %>
    <h2>Past Ironing</h2>
    <form action="<%= past_bookings_path %>" method="get">
      <div class="field">
        <%= text_field_tag :from_date, nil, placeholder: 'From' %>
        <%= text_field_tag :to_date, nil, placeholder: 'To' %>
        <%= button_tag name: nil, type: 'submit', class: 'btn btn-default active' do %>
            <span class="glyphicon glyphicon-search"></span>
            &nbsp
            Search
        <% end %>
      </div>
    </form>
<% end %>

<table id="ironed-table" class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Ironer</th>
    <% if action_name == 'past' %>
        <th>Date delivered</th>
    <% end %>
    <th colspan="<%= if @ironer_mode then 1 else 3 end %>"></th>
  </tr>
  </thead>

  <tbody>
  <% @ironed.each do |ironing| %>
      <tr>
        <td><%= link_to ironing.booking.customer.nickname, ironing.booking.customer %></td>
        <td><%= safe_join(ironing.ironing_tasks.map(&:ironer_account).map do |ironer|
            link_to ironer.full_name, ironer.staff
          end, ', ')
        %></td>
        <% if action_name == 'past' %>
            <td><%= ironing.booking.delivery_trip_item.trip.date %></td>
        <% end %>
        <td><%= link_to edit_ironing_path(ironing), class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
        <% end %></td>
        <% unless @ironer_mode %>
            <td><%= link_to ironing_receipt_path(ironing),
                            class: 'btn btn-default active', role: 'button' do %>
                  <span class="glyphicon glyphicon-list-alt"></span>
                  Receipt
            <% end %></td>

            <td><%= link_to ironing, class: 'btn btn-default active', role: 'button' do %>
                  <span class="glyphicon glyphicon-th-list"></span>
                  Show
            <% end %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<% if action_name == 'past' %>
    <div class="digg_pagination">
      <%= will_paginate @ironed %>
    </div>
    <%= link_to ironing_index_path, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Ironing
    <% end %>
<% end %>
<br />
