
<br />

<p>
  <strong>Customer:</strong>
  <%= @ironing.customer_name %>
</p>

<% @ironing.booking_services.each do |bs| %>
    <p>
      <strong>Item:</strong>
      <%= bs.service.name %>
    <br />
      <strong>Cost per item:</strong>
      <%= to_gbp bs.service.price %>
    <% if bs.discount != 0 %>
      <br />
        <strong>Discount:</strong>
        <%= number_to_percentage(bs.discount, { strip_insignificant_zeros: true }) %>
    <% end -%>
    <br />
      <strong>Count:</strong>
      <%= bs.count.prettify %>
    <br />
      <strong>Cost:</strong>
      <%= to_gbp bs.total_cost %>
    </p>
<% end %>
<p>
  <strong>Total cost:</strong>
  <%= to_gbp @ironing.total_cost %>
</p>

<%= link_to ironing_index_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Ironing
<% end %>
<br />
<%= link_to edit_ironing_path(@ironing), class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit Ironing
<% end %>
