
<p>
  <strong>Customer:</strong>
  <%= @ironing.customer_name %>
</p>

<% if @ironing.ironed? %>
    <p>
      <strong>Ironing tasks:</strong>
      <% @ironing.ironing_tasks.each do |task| %>
        <p>
          <strong>* Ironer:</strong>
          <%= task.ironer_account.full_name %>
        </p>
        <p>
          <strong>* Time ironed:</strong>
          <%= minutes_int_to_s task.minutes_ironed %>
        </p>
      <% end %>
    </p>
    <p>
      <strong>Number of bags:</strong>
      <%= @ironing.bag_count %>
    </p>
    <p>
      <strong>Hangers?:</strong>
      <%= yes_no @ironing.has_hangers? %>
    </p>

    <% @ironing_items.each do |bs| %>
        <p>
          <strong>Item:</strong>
          <%= bs.service.name %>
        </p>
        <p>
          <strong>Count:</strong>
          <%= bs.count %>
        </p>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_ironing_path(@ironing) %> |
<%= link_to 'Back', ironing_index_path %>
