<div class="address-fields">
  <%= f.input :address_name %>
  <%= f.input :post_code %>
  <%= f.input :notes, as: :text, label: "Address notes" %>
  <%= f.input :geocode, label: "Address geocode", input_html: { class: 'geocode-input' },
              placeholder: 'Leave empty to get from post code' %>
  <%= f.input :active, label: "Active address",
              input_html: { checked: (@customer.new_record? or
                                      f.object.new_record? or
                                      f.object.active) } %>
  <div>
    <p class="help-block">
      Those are your tools for specifying the customer's geocode: first display it on the map, and then "Copy map marker into geocode field". Tips: <br />
      &nbsp&nbsp - It is recommended to go for maximum accuracy, because the driver will be navigated there! (the geocode is sent to Waze)<br />
      &nbsp&nbsp - Displaying by address and postcode is more accurate than by postcode alone, but doesn't always work<br />
      &nbsp&nbsp - You can drag and drop the map marker for additional accuracy
    </p>
    <button type="button" class="btn btn-info active"
            onclick="displayByPostcode(<%= f.index %>);">
      <span class="glyphicon glyphicon-arrow-down"></span>
      <span class="glyphicon glyphicon-pushpin"></span>
      Display by postcode
    </button>

    <button type="button" class="btn btn-info active"
            onclick="displayByFullAddress(<%= f.index %>);">
      <span class="glyphicon glyphicon-arrow-down"></span>
      <span class="glyphicon glyphicon-font"></span>
      Display by address and postcode
    </button>

    <button type="button" class="btn btn-info active"
            onclick="displayByGeocode(<%= f.index %>);">
      <span class="glyphicon glyphicon-arrow-down"></span>
      <span class="glyphicon glyphicon-globe"></span>
      Display by geocode
    </button>

    <button type="button" class="btn btn-primary active"
            onclick="mapMarkerToGeocode(<%= f.index %>);">
      <span class="glyphicon glyphicon-arrow-up"></span>
      <span class="glyphicon glyphicon-map-marker"></span>
      Copy map marker into geocode field
    </button>
  </div>
</div>