<%= simple_form_for(@address) do |f| %>
    <%= render 'fields', f: f  %>
    <%= f.hidden_field :customer_id, value: @customer.id %>
    <%= glyphicon_submit(f) %>
<% end %>
<%= content_for('Back buttons') %>
<br />
<span id="base-geocode" data-value="<%= @base_address.geocode %>"></span>
<div id="address-map"></div>
