<h2>New active address for <%= @customer.nickname %></h2>

<% content_for('Back buttons') do %>
    <br />
    <%= link_to customers_path, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Customers
    <% end %>
    <br />
    <%= link_to @customer, class: 'btn btn-default active' do %>
        <span class="glyphicon glyphicon-th-list"></span>
        <%= "Show #{@customer.nickname}" %>
    <% end %>
    <br />
<% end %>

<%= simple_form_for(@address, url: update_active_address_path) do |f| %>
  <%= render 'fields', f: f  %>
  <%= f.hidden_field :customer_id, value: @customer.id %>
  <%= glyphicon_submit(f) %>
<% end %>
<%= content_for('Back buttons') %>
<br />
<span id="base-geocode" data-value="<%= @base_address.geocode %>"></span>
<div id="address-map"></div>
