<h1>Listing addresses</h1>

<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Address name</th>
      <th>Post code</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><em><%= address.customer.nickname %></em></td>
        <td><%= address.address_name %></td>
        <td><%= address.post_code %></td>
        <td><%= address.notes %></td>
        <td><%= link_to 'Show', address, class: 'btn btn-default active btn-sm', role: 'button' %></td>
        <td><%= link_to 'Edit', edit_address_path(address), class: 'btn btn-default active btn-sm', role: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
