<p>
  <strong>Customer:</strong>
  <%= @address.customer.nickname %>
</p>

<p>
  <strong>Address name:</strong>
  <%= @address.address_name %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @address.post_code %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @address.notes %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back to Customers', customers_path %> |
<%= link_to 'Back to Addresses', addresses_path %>
