/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 *= require jquery-ui
 *= require jquery.timepicker.css
 *= require select2
 *= require select2-bootstrap
 *= require tablesaw
 */

#header {
    text-align: center;
}

/* glyphicon content codes from: https://glyphicons.bootstrapcheatsheets.com/ */
.create-glyphicon:before {
    font-family: "Glyphicons Halflings";
    content:"\e172";
    margin-right: 0.25em;
}

.update-glyphicon:before {
    font-family: "Glyphicons Halflings";
    content:"\e173";
    margin-right: 0.25em;
}

.resize-vertical-glyphicon:before {
    font-family: "Glyphicons Halflings";
    content:"\e110";
    margin-right: 0.25em;
}

.repeat-glyphicon:before {
    font-family: "Glyphicons Halflings";
    content:"\e030";
    margin-right: 0.25em;
}

div.ui-datepicker{
    font-size:115%;
}

.error-text {
    border: 2px solid red;
    background-color: #f0f0f0;
}
