legend.trip-item-edit {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:inherit;
  padding:0 10px;
  border-bottom:none;
  margin-bottom:0;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute !important;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}

td.green {
  background-color: green !important;
}

td.yellow {
  background-color: yellow !important;
}
