#payment-scheme-field {
  width: 150px;
  border: 1px groove;
  display:inline-block;
}

.address-fields {
  border:1px solid #999999 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}

#address-map {
  float:left;
  width:100%;
  height:50%;
}