.trip-list {
  border: 1px solid #eee;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
}
.trip-list li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.3em;
}
.trip-list #edit {
  position: absolute;
  right: 20px;
}
.sortable-number {
  width: 35px;
  height: 24px;
  border: ridge;
  border-color: white;
  float: left;
  line-height: 1.2em;
  position: relative;
  bottom: 4px;
  text-align: center;
  font-weight: bold !important;
  margin-right: 5px;
}
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 5px;
}
.map-canvas {
  float:left;
  width:100%;
  height:100%;
  margin-bottom: 50px;
}
