<h1>Editing category</h1>

<%= render 'form' %>

<%= link_to categories_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Categories
<% end %>
