<br />
<%= link_to new_category_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Category
<% end %>
<br />

<h1>Listing categories</h1>

<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <% if category.name != 'System' %>
            <td><%= link_to edit_category_path(category), class: 'btn btn-default active', role: 'button' do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  Rename
            <% end %></td>
        <% end %>
        <td>
          <% if category.deletable? %>
              <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger active', role: 'button' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  Delete
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to services_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Services
<% end %>
