<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag 'one_time', true %>
    <%= f.association :expense_type %>
    <%= f.input :cost, label: 'Cost (£)' %>
    <%= f.input :from, label: 'Date', as: :string %>
  </div>

  <div class="form-actions">
    <%= glyphicon_submit(f) %>
  </div>
<% end %>
