<%= simple_form_for(@expense) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :expense_type %>
      <%= f.input :cost, label: 'Cost per period (£)' %>
      <%= f.input :from, as: :string %>
      <%= f.input :to,   as: :string, placeholder: 'Leave blank if it is still in effect' %>
      <%= f.input :period, label: 'Period', required: true,
                  placeholder: 'Specify how often it is taxed. This field takes a number to go with the units below. Example: once in 3 days' %>
      <%= f.collection_radio_buttons :period_type, [[:days, 'Days'], [:months, 'Months'], [:years, 'Years']],
                                     :first, :last, {}, required: true %>
    </div>

    <div class="form-actions">
      <%= glyphicon_submit(f) %>
    </div>
<% end %>
