<br />
<%= link_to new_expense_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Expense
<% end %>
<%= link_to expense_types_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-folder-open"></span>
    Expense types
<% end %>
<br />

<h2>One-time expenses</h2>

<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Type</th>
      <th>Cost</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @one_time.each do |expense| %>
      <tr>
        <td><%= expense.expense_type.name %></td>
        <td><%= to_gbp expense.cost %></td>
        <td><%= expense.from %></td>
        <td><%= link_to edit_expense_path(expense),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
        <% end %></td>
        <td><%= link_to expense, method: :delete,
                        class: 'btn btn-danger active', role: 'button',
                        data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove"></span>
              Delete
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to new_periodic_expense_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Periodic Expense
<% end %>
<br />

<h2>Periodic expenses</h2>

<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>Type</th>
    <th>Cost</th>
    <th>From</th>
    <th>To</th>
    <th>Per</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @periodic.each do |expense| %>
      <tr>
        <td><%= expense.expense_type.name %></td>
        <td><%= to_gbp expense.cost %></td>
        <td><%= expense.from %></td>
        <td><%= expense.to %></td>
        <td><%= pluralize(expense.period, expense.period_type.to_s.singularize) %></td>
        <td><%= link_to edit_periodic_expense_path(expense),
                        class: 'btn btn-default active', role: 'button' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
        <% end %></td>
        <td><%= link_to expense, method: :delete,
                        class: 'btn btn-danger active', role: 'button',
                        data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove"></span>
              Delete
        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
