<h1>New Expense</h1>

<%= render 'form' %>

<br />
<%= link_to expenses_path, class: 'btn btn-default active' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Expenses
<% end %>
