<div id="header">
<% if @ironer_mode %>
    <%= link_to ironing_index_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-home"></span>
        Home
    <% end %>
<% elsif @is_owner %>
    <%= link_to customers_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-user" <% if @pending_registrations_count != 0 %> style="color: red;" <% end %>></span>
        Customers
    <% end %>
    <%= link_to requests_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-calendar" <% if @booking_avl_insufficient %> style="color: red;" <% end %>></span>
        Requests <span class="badge"><%= @active_requests.count %></span>
    <% end %>
    <%= link_to bookings_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-calendar"></span>
        Bookings
    <% end %>
    <%= link_to ironing_index_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <img height="23" width="23" src="<%= asset_path('ironing.svg') %>" />
        Ironing
    <% end %>
    <%= link_to trips_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-road"></span>
        Trips
    <% end %>
    <%= link_to services_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-gbp"></span>
        Services
    <% end %>
    <%= link_to staff_index_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-briefcase"></span>
        Staff
    <% end %>
    <%= link_to expenses_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Expenses
    <% end %>
    <%= link_to statistics_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
        <span class="glyphicon glyphicon-stats"></span>
        Statistics
    <% end %>
    <%= link_to settings_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
      <span class="glyphicon glyphicon-cog"></span>
      Settings
    <% end %>
    <%= link_to notifications_path, class: 'btn btn-default btn-lg active', role: 'button' do %>
      <span class="glyphicon glyphicon-bell" <% if @unread_notifications_count != 0 %> style="color: red;" <% end %>></span>
      Notifications <span class="badge"><%= @unread_notifications_count %></span>
    <% end %>
<% end %>

<% if current_staff %>
    <%= button_to destroy_staff_session_path, class: 'btn btn-default btn-lg active',
                  method: :delete, role: 'button', form: { style: 'display:inline-block;' } do %>
        <span class="glyphicon glyphicon-log-out"></span>
        Log Out
    <% end %>
<% end %>
</div>