<!DOCTYPE html>
<html>
<head>
  <title>Ironing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maps.googleapis.com/maps/api/js?<%== ENV['GOOGLE_MAPS_KEY_STRING'] %>v=3.exp" data-turbolinks-track="reload"></script>
  <script data-turbolinks-track="reload">
      window.VAPID_PUBLIC_KEY = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>);
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= render 'layouts/header' %>
<% flash.each do |key, value| %>
    <% css_class = {'alert' => 'danger', 'notice' => 'success'}.fetch(key, key) %>
    <% if key != 'timedout' %>
        <div class="alert alert-<%= css_class %>" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
    <% end %>
<% end %>
<br />
<%= yield %>

</body>
</html>
